name: ROS2 build test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        path: ros2_ws/src

    - name: Setup ROS 2 Jazzy
      uses: ros-tooling/setup-ros@v0.7
      with:
        required-ros-distributions: jazzy

    - name: Build workspace
      run: |
        source /opt/ros/jazzy/setup.bash
        cd ros2_ws
        colcon build

    - name: Run talker & listener tests
      run: |
        source /opt/ros/jazzy/setup.bash
        cd ros2_ws
        source install/setup.bash

        ros2 run mypkg talker &
        TALKER_PID=$!

        sleep 3

        pytest src/mypkg/test/test_talker.py src/mypkg/test/test_listener.py

        kill $TALKER_PID

