name: ROS2 build test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        path: ros2_ws/src/mypkg

    - name: Setup ROS 2 Jazzy
      uses: ros-tooling/setup-ros@v0.7
      with:
        required-ros-distributions: jazzy

    - name: Install dependencies
      run: |
        sudo apt update
        rosdep update
        cd ros2_ws
        rosdep install --from-paths src --ignore-src -r -y

    - name: Build workspace
      run: |
        source /opt/ros/jazzy/setup.bash
        cd ros2_ws
        colcon build --event-handlers console_direct+

    - name: Run talker & listener test
      run: |
        source /opt/ros/jazzy/setup.bash
        cd ros2_ws
        source install/setup.bash

        ros2 run mypkg talker &
        TALKER_PID=$!

        ros2 run mypkg listener &
        LISTENER_PID=$!

        sleep 3

        if [ -d src/mypkg/test ]; then
          pytest src/mypkg/test
        else
          echo "No pytest directory found, skipping pytest."
        fi

        kill $TALKER_PID
        kill $LISTENER_PID

